<form [formGroup]="transactionForm">

    <div class="table">
        <table class="table table-hover">
            <thead >
              <tr>
                <th scope="col">Transaction id</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">FamilyMember</th>
                <th scope="col"></th>      
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                    {{transaction.id}}
                </th>
                <td>
                    <select formControlName="transactionType">
                        <!-- <option [ngValue]="'income'">Income</option>
                        <option [ngValue]="'expenses'">Expenses</option> -->
                            <option [ngValue]="">{{transaction.type}}</option>
                            <option [ngValue]=""> {{transaction.type}}</option>
                        

                    </select>

                </td>
                <td>
                    <input formControlName="description">
                        <div *ngIf="transactionForm.get('descryption')?.errors?.required">
                            Description is required!
                        </div>
                        <div *ngIf="transactionForm.get('descryption')?.errors?.maxlength">
                            This field must contain minimum of {{transactionForm.get('descryption')?.errors?.maxlength.requiredLength}}
                            and you entered {{transactionForm.get('descryption')?.errors?.maxlength.actualLength}} characters.
                        </div>
                </td>
                    <input formControlName="amount">
                        <div *ngIf="transactionForm.get('amount')?.errors?.required">
                            Please enter the amount
                        </div>
                        <div *ngIf="transactionForm.get('amount')?.errors?.maxlength">
                            This field must contain minimum of {{transactionForm.get('amount')?.errors?.maxlength.requiredLength}}
                            and you entered {{transactionForm.get('amount')?.errors?.maxlength.actualLength}} characters.
                        </div>
                <td>
                    <input formControlName="transactionDate">
                </td>
                <td>
                    <!-- <select formControlName="FamilyMember">
                        <option [ngValue]="'income'">Income</option>
                        <option [ngValue]="'expenses'">Expenses</option>
                    </select> -->
                </td>
                <td>
                    
                </td>
                <td><button type="button" class="btn btn-outline-secondary"
                    [disabled]="!transactionForm.valid">Submit</button>
                    <button type="button" class="btn btn-outline-secondary">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
        </div>

<!-- <div>{{transactionForm.get('amount')?.value}}</div>
<div>{{transactionForm.get('amount')?.errors}}</div>
<div>{{transactionForm.get('amount')?.valid}}</div> -->



</form>