<!-- *ngIf="familyMember; else loading" -->
<form class="forma" [formGroup]="familyMemberForm">
    <div>
        <label>Family member's name:
            <input formControlName="name">
        </label>

                <div  class="error-notification" *ngIf="familyMemberForm.get('name')?.errors?.required">
                    This field is requred!
                </div>
                
                <div class="error-notification" *ngIf="familyMemberForm.get('name')?.errors?.maxlength">
                    This field must contain minimum of {{familyMemberForm.get('name')?.errors?.maxlength.requiredLength}}
                    and you entered {{familyMemberForm.get('name')?.errors?.maxlength.actualLength}} characters.
                </div>
     </div>
    
    <!-- <div>
        {{familyMemberForm.get('name')?.value}}
    </div>
    <div>
        {{familyMemberForm.get('name')?.errors | json}}
    </div>
    <div>
        {{familyMemberForm.get('name')?.valid}}
    </div>
    {{familyMemberForm.value | json}} -->
  
<div>
    <button type="button" class="btn btn-outline-success" [disabled]="familyMemberForm.invalid"
    (click)="onSubmitClick()">Submit</button>

    <button type="button" class="btn btn-outline-danger" (click)="onDeleteClick()" *ngIf="!isNewFamilyMember">Delete</button>
</div>
</form>



<!-- {{familyMember | json}}
<br>
<br>
<input type="text" name="" id=""> -->

<ng-template #loading>
    <h1>Loading...</h1>
</ng-template>



