<form *ngIf="familyMember; else loading" [formGroup]="familyMemberForm">
    <div>
        <label>Famile member's name:
            <input formControlName="name">
        </label>
        <div *ngIf="familyMemberForm.get('name')?.errors?.required
                    ">
            This field is requred!
        </div>
        
        <div *ngIf="familyMemberForm.get('name')?.errors?.maxlength
                    ">
            This field must contain minimum of {{familyMemberForm.get('name')?.errors?.maxlength.requiredLength}}
            and you entered {{familyMemberForm.get('name')?.errors?.maxlength.actualLength}} characters.
        </div>
 
    </div>
    
    <!-- <div>
        {{familyMemberForm.get('name')?.value}}
    </div>
    <div>
        {{familyMemberForm.get('name')?.errors | json}}
    </div>
    <div>
        {{familyMemberForm.get('name')?.valid}}
    </div>
    {{familyMemberForm.value | json}} -->

    <button [disabled]="familyMemberForm.invalid"
            (click)="onSubmitClick()">Submit</button>
    <button (click)="onDeleteClick()">Delete</button>


</form>




<!-- {{familyMember | json}}
<br>
<br>
<input type="text" name="" id=""> -->

<ng-template #loading>
    <h1>Loading...</h1>
</ng-template>



