<div *ngIf = "message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Transaction updated
    <button (click)="removeMessage()" type="button" data-bs-dismiss="alert" aria-label="Close">X</button>
  </div>

<form [formGroup] ="editTransactionForm" (ngSubmit)="onSubmitButton()">
  <fieldset>

    <div class="mb-3">
      <label class="form-label">Description</label>
        <input type="text" class="form-control" placeholder=" Enter Description" formControlName="description">

            <div class="error-notification" *ngIf="editTransactionForm.get('description')?.errors?.required">
              Description is required!
            </div>

            <div  class="error-notification" *ngIf="editTransactionForm.get('description')?.errors?.maxlength">
              This field must contain minimum of {{editTransactionForm.get('description')?.errors?.maxlength.requiredLength}}
              and you entered {{editTransactionForm.get('description')?.errors?.maxlength.actualLength}} characters.
            </div>
    </div>

    <div class="mb-3">
      <label class="form-label"></label>
        <option value="expense">Amount</option>
          <input type="number" class="form-control" placeholder="Enter the amount of money" formControlName="amount">

              <div class="error-notification" *ngIf="editTransactionForm.get('amount')?.errors?.required">
                Amount of money is required!
              </div>
              
              <div class="error-notification" *ngIf="editTransactionForm.get('amount')?.errors?.maxlength">
                This field must contain minimum of {{editTransactionForm.get('amount')?.errors?.maxlength.requiredLength}}
                and you entered {{editTransactionForm.get('amount')?.errors?.maxlength.actualLength}} characters.
              </div>
         
    </div>

    <div class="mb-3">
      <label class="form-label">Transaction Date</label>
        <input type="date" class="form-control" placeholder=" Enter the date" formControlName="transactionDate">

              <div class="error-notification" *ngIf="editTransactionForm.get('transactionDate')?.errors?.required">
                Date is required!
              </div>      
    </div>
  </fieldset>

  <fieldset [formGroup]="editTransactionForm.get('familyMember')">
    <div class="mb-3">
      <label class="form-label">FamilyMember</label>
        <select class="form-select" formControlName="id">
          <ng-container *ngFor="let familyMember of (familyMembers$ | async)">
            <option [ngValue]="familyMember.id">{{familyMember.name}}</option>
          </ng-container> 
        </select>

              <div class="error-notification" *ngIf="editTransactionForm.get('familyMember.id')?.errors?.required">
                Family member must be selected!
              </div>
    </div>
  </fieldset>

  <fieldset [formGroup]="editTransactionForm.get('transactionType')">
    <div class="mb-3">
      <label class="form-label">TransactionType</label>
        <select class="form-select" formControlName="id">
          <option [ngValue]="1">Income</option>
          <option [ngValue]="2">expense</option>
        </select>

              <div class="error-notification" *ngIf="editTransactionForm.get('transactionType.id')?.errors?.required">
                Transaction type must be selected!
              </div>

    </div>
  </fieldset>
      
<div>
  <button type="submit" class="btn btn-outline-success">Submit</button>
  <button type="button" class="btn btn-outline-danger" (click)="deleteTransaction(transactionId)">Delete</button>
</div>

</form>
  
