<div class="button" (click)="navigateToTransactionAdd()">
  <button type="button" class="btn btn-outline-dark">Add new transaction</button>
</div>

<div class="table">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">FamilyMember</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let transaction of transactions | paginate :{itemsPerPage: pageSize, currentPage: page}">
    <tr>
      <th scope="row" style="width: 40px;">{{transaction.id}}</th>
      <td style="width: 80px;">{{transaction.transactionType.name}}</td>
      <td style="width: 380px;">{{transaction.description}}</td>
      <td>{{transaction.amount}} €</td>
      <td>{{transaction.transactionDate}}</td>
      <td>{{transaction.familyMember.name}}</td>
      <td>
        <button type="button" class="btn btn-outline-secondary" (click)="navigateToTransactionId(transaction.id)">Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center d">
  <pagination-controls
    *ngIf="transactions?.length > 10"
    responsive="true"
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="page = $event">
  </pagination-controls>
</div>
